.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.react-draggable {
  cursor: default;
  padding: 30px;
}

.react-draggable:hover {
  background: #eee;
}

.operator {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}
