.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.react-draggable {
  cursor: default;
  padding: 1px;
}

.operator {
  fill: #d8e0f8;
  stroke: black;
  stroke-width: 1;
  position: relative;
  width: 100px;
  margin: auto;
}

.relation {
  text-align: center;
  min-width: 50px;
  max-width: 200px;
  display: inline-block;
  padding: 4px;
  margin: 3px;
  border: 1px solid #ccc;
}
